.carousel-item img {
    height: 530px;        
}

body{
    background-color: #18191a !important;
}

.actor-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}
.actor-card {
    text-align: center;
}
